<p>hello from update-game.hbs</p>

{{!-- form --}}

<div class="game-actions">
    <form action="PUT" action="/games/{{games._id}}" class="game-edit-btns-form">
        <button></button>

    </form>
</div>


{{!-- button for edit description --}}
{{!-- (start simple!!!) --}}