<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Under the Table
    body
        .hero-bar
            h1 Under the Table
            h3 board game manager
        p Welcome to homepage.pug!
        .options-bar
            button
        //- .games-list
            //- ul
                //- each val in Games
                //-     li- val