<p>Hello from index.hbs!</p>

{{!-- <a class="game-title" href="{{id}}"></a> --}}

<h1>Last Two Games</h1>

<ul class="homepage-games">
    {{#each games}}
    {{> 'game'}}
    {{/each}}
</ul>

<button class="btn" onclick="location.href = '/games/new';">Add A Game!</button>