<p>Hello from index.hbs!</p>

{{!-- <a class="game-title" href="{{id}}"></a> --}}

<h1>Last Two Games</h1>

<ul class="homepage-games">
    {{#each games}}
    {{> 'game'}}
    {{/each}}
</ul>

<button class="btn" onclick="location.href = '/games/new';">Add A Game!</button>

{{!-- {{#if !games}}
<h3>There's no games! Go add some!</h3>
{{/if}} --}}

{{!-- <h1>TESTS</h1>

<h3>detecting if games is true...</h3>
{{#if games}}
<p>true detected</p>
{{/if}}
<p>test complete</p>
<br>

<h3>attempting to write games...</h3>
{{ games }}
<p>test complete</p>
<br>

<h3>attempting to log #each in games...</h3>
{{#each games}}
<p>a game has been written!</p>
{{/each}}
<p>test complete</p>
<br> --}}