<p>Hello from homepage.hbs</p>
{{!-- {{#if games}}
<ul class="games">
    {{#each games}}
    {{'game'}}
    {{/each}}
</ul>
{{/if}} --}}


<p>Hello from index.hbs!</p>

{{!-- {{ Game }}

{{#if Game}}
<ul class="games">
    <p>game ul be here</p>
    {{#each Games}}
        <p>game be here</p>
        <a href='/games/{{_id}}'>
            <p>{{ content }}</p>
        </a>
    {{/each}}
</ul>
{{/if}} --}}