<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Under the Table</title>

<link rel="stylesheet" type="text/css" href="css/switchboard.css" />
</head>

<body>
    <header>
        <h1>Under the Table</h1>
        <h2>My awesome game</h2>
        <nav>
            <button onclick="redirectHome()">Go Home</button>
            <button onclick="redirectGames()">See All Games</button>
        </nav>
    </header>
    <div class="main">{{{ body }}}</div>
</body>

</html>