<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Under the Table</title>

    <link rel="stylesheet" type="text/css" href="/css/switchboard.css" />

    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    {{!-- font-family: 'Major Mono Display', monospace; --}}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    {{!-- font-family: 'Josefin Sans', sans-serif; --}}
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    {{!-- font-family: 'Source Code Pro', monospace; --}}

</head>

<body>
    <header>
        <div class="header-bar">
            <h1>under the table</h1>
            <h2>Table-Top Games List</h2>
        </div>
        <nav>
            <button class="btn" onclick="location.href = '/';">Go Home</button>
            <button class="btn" onclick="location.href = '/games';">See All Games</button>
            <button class="btn" onclick="location.href = '/games/new';">Add A Game</button>
        </nav>
    </header>
    <div class="main">{{{ body }}}</div>
</body>

</html>