<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <div class="container">
        <h1>Under the Table</h1>
        <h4>collect and store your stuff here</h4>
        <p>Hello from layout.hbs!</p>
        {{{ body }}}
        <p>Triple bracket hbs body inserted</p>
    </div>
</body>
</html>