header h1 {
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Major Mono Display', monospace;
    font-size: 48px;
    text-transform: lowercase;
    color: #F8F8FA;
    padding: 8px;
    margin: 0px;
}

header h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: #F8F8FA;
    padding: 8px;
    margin: -10px 0px 0px 0px;
}

.header-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    background-color: #333333;
}

nav {
    margin-bottom: 18px;
    /* padding: 5px auto 5px 25%; */
    padding-top: 6px;
    padding-right: auto;
    padding-bottom: 6px;
    padding-left: 5%;
    background-color: #B5FED9;
    border-bottom: 2px solid #333333;
}

nav button {
    margin: 0px 10px;
}