body {
  background-color: #f8f8fa;
  color: #333333;
  width: 100%;
  margin: 0px;
}

.btn {
  font-family: "Source Code Pro", monospace;
  background-color: #89b6a5;
  text-transform: uppercase;
  color: #f7fff7;
  padding: 6px;
  border-radius: 10px;
}
button:hover {
  background-color: #ffc857;
}
.btn:hover {
  background-color: #ffc857;
}

p {
  /* font-family: "Source Code Pro", monospace; */
  color: #333333;
}
