body {
  background-color: #f8f8fa;
  color: #333333;
  width: 100%;
  margin: 0px;
}

.btn {
  background-color: #546a76;
  text-transform: uppercase;
  color: #f8f8fa;
  padding: 6px;
  border-radius: 10px;
}

p {
  color: #333333;
}
