body {
  /* background-color: rgb(170, 191, 192); */

  background-color: #f8f8fa;
  color: #333333;
  width: 100%;
  margin-left: 40px;
}

.btn {
  background-color: #546A76;
  text-transform: uppercase;
  color: #f8f8fa;
  padding: 6px;
  border-radius: 10px;
}

.main h1,h2 {
font-family: 'Josefin Sans', sans-serif;
}

p {
    color: #333333;
}

.game-block {
    background-color: #EDE3E4;
    border: 3px solid #333333;
    border-radius: 5px;

    max-width: 600px;
}
.game-block > * {
    margin: 6px 12px 16px 12px;
}

#update-game-form {
    background-color: #f8f8fa;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}
.new-game-flex-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
}