<p>
    hello from games/new.hbs
</p>

<form action="/games/new" method="POST">
  <input type="text" placeholder="title" name="title">
  <br>
  <textarea type="text" name="description"> </textarea>
  <button type="submit">Submit</button>
</form>