<p>
    hello from games/new.hbs
</p>

<section class="form-container">
  <h4>New Game</h4>
  <form action="/games" method="post" class="game-form">
    <p class="input-field">
      <textarea name="game[content]" cols="30" rows="10" placeholder="Message"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Game" class="btn waves-effect waves-light">
    </p>
  </form>
</section>