<p>
    hello from games/new.hbs
</p>

<h4>New Game</h4>
<form action="/games/new" method="post" id="new-game-form">

    <div class="form-grid-container">
        <div class="field-title">
            <h3>Title:</h3> <input type="text" name="games[title]">
        </div>

        <span class="field-rating">
            <h3>Rating:</h3>
            <select name="games[rating]" form="new-game-form">
                <option selected disabled>Select A Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </span>

        <span class="field-type">
            <h3>Type:</h3>
            <select name="games[type]" form="new-game-form">
                <option selected disabled>Select A Type</option>
                <option value="Party">Party</option>
                <option value="Strategy">Strategy</option>
            </select>
        </span>

        <span class="field-compness">
            <h3 class="new-game-subtitle">Competitiveness:</h3>
            <select name="games[compness]" form="new-game-form">
                <option selected disabled>Select Playstyle</option>
                <option value="Co-op">Co-op</option>
                <option value="Pvp">PvP</option>
            </select>
        </span>

        <br>
    </div>

    <div class="field-description">
        <h3>Description:</h3><textarea name="games[description]" cols="60" rows="10" placeholder="Description"></textarea>
    </div>

    <input class="btn" type="submit" value="Submit" class="btn">
</form>