<p> hello from update.hbs!</p>
{{!-- action='/games/edit/:id' --}}

<h4>Update {{fish.title}}</h4>

<form method="POST" id="update-game-form" action="/games/edit/{{ fish.id }}?_method=PUT">

    <div class="form-grid-container">

        <div class="field-title">
            <h3>Title:</h3>
            <input type="text" name="title" rows="2" cols="60" value="{{fish.title}}" placeholder="Title">
        </div>

        <span class="field-rating">
            <h3>Rating:</h3>
            <select name="rating" form="new-game-form">
                <option selected disabled>Select A Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </span>

        <span class="field-type">
            <h3 class="new-game-subtitle">Type:</h3>
            <select name="type" form="new-game-form">
                <option selected disabled>Select A Type</option>
                <option value="party">Party</option>
                <option value="strategy">Strategy</option>
            </select>
        </span>

        <span class="field-compness">
            <h3 class="new-game-subtitle">Competitiveness:</h3>
            <select name="compness" form="new-game-form">
                <option selected disabled>Select Playstyle</option>
                <option value="Co-op">Co-op</option>
                <option value="PvP">PvP</option>
            </select>
        </span>

        <br>
    </div>

    <div class="field-description">
        <h3>Description:</h3><textarea name="description" rows="10" cols="60" placeholder="Description">{{fish.description}}</textarea>
    </div>

    <br>
    <input type="submit" value="Submit" class="btn">
</form>